version: 0.0.{build}

image: Visual Studio 2017

install:
- cd src
- dotnet restore

test:
  assemblies:
    only:
      - Blog.Core.Tests.dll'

test_script:
  - 
  - dotnet test ../tst/Blog.Core.Tests\Blog.Core.Tests.csproj --logger:Appveyor

dotnet_csproj:
  patch: true
  file: '**\*.csproj'
  version: '{version}'
  package_version: '{version}'
  assembly_version: '{version}'
  file_version: '{version}'
  informational_version: '{version}'


build:
  verbosity: minimal