@inject Microsoft.Extensions.Options.IOptionsMonitor<SiteSettings> SiteSettings
@{
    var leftTitle = $"{SiteSettings.CurrentValue.Author}'s Blog";   
}
<div class="blog-masthead">
    <nav class="navbar">
        <div class="container">
            <div class="left-nav">
                <a class="nav-link" href="/Home">Posts</a>
                <a class="nav-link" href="/Content">Content</a>
                <a class="nav-link" href="/About">About</a>
            </div>
            <div class="right-nav">
                <a class="right-title">@leftTitle</a>
            </div>
        </div>
    </nav>
</div>
