---
tags:
- Посты
title: Индекс
---
@model Blog.Core.Models.Interfaces.IPageContext
<p>
    Its easy to use @@Model in posts!
    @{
        foreach (var post in Model.Blog.Posts)
        {
            <li>@post.Title</li>
        }
    }
</p>
