<h1>Pro рыбу</h1>

<p><img src="/img/fish.jpg" width="100" height="100" align="left" vspace="5" hspace="5">
    Летучая рыба ебашит вообще адовые приложения. Ну такой вот примерный рецепт усредненный,
    потому что вариаций масса.</p>
