@using Blog.Core.Models.Templating
@inject Microsoft.Extensions.Options.IOptionsMonitor<SiteSettings> SiteSettings;
@model BlogContext
@{
    ViewData["Title"] = $"About {SiteSettings.CurrentValue.Author}";
    ViewData["Description"] = SiteSettings.CurrentValue.Description;
    ViewBag.PageId = "about";
    Layout = "_Layout";
}

<html>
<head>
    <title>@ViewData["Title"]</title>
</head>

<body>

<div class="container">
    <h2>About Author</h2>
    <p1>@ViewData["Description"].ToString()</p1>
</div>

</body>
</html>