@inject Microsoft.Extensions.Options.IOptionsMonitor<SiteSettings> SiteSettings;
@using Blog.Core.Models.Contexts
@model Blog.Core.Models.Contexts.PageContext
@{
    ViewData["Title"] = $"Blog {SiteSettings.CurrentValue.Author}";
    ViewData["Description"] = SiteSettings.CurrentValue.Description;
    ViewBag.PageId = "about";
    Layout = "_Layout";
}
<!DOCTYPE html>

<html>
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-lg-8 col-xl-9">
            @Html.Partial("_postsFeed", Model)
        </div>
        <div class="col-xs-12 col-lg-4 col-xl-3">
            @Html.Partial("_tagList")
        </div>
    </div>
</div>
</body>
</html>