
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #333;
}

body {
    color: #555;
}

/*
 * Override Bootstrap's defaults.
 */

.container {
    max-width: 65rem;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3,
.col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6,
.col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9,
.col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, 
.col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

/*
 * Masthead for nav
 */

.blog-masthead {
    margin-bottom: 0.5rem;
    background-color: #000000;
    -webkit-box-shadow: inset 0 -.1rem .25rem rgba(106, 106, 106, 0.1);
    box-shadow: inset 0 -.1rem .25rem rgba(255, 255, 255, 0.1);
}

.alternate-background-link{
    color: #ffffff;
}

div.right-nav > a.right-title{
    text-align: right;
    font-weight: 500;
    color: #ffffff;    
}
div.right-nav > a.right-title:hover{
    color: #ffffff;
}

/* Nav links */
.nav-link {
    position: relative;
    font-weight: 500;
    color: #ffffff;
}

.nav-link:hover {
    color: #555555;
}

div.left-nav {
    float:left;
    display:flex;
}

div.right-nav {
    float:right;
    display:inline-block;
}

div.right-nav a {
    display:inline-block;
}
/*
 * Blog name and description
 */

.blog-header {
    padding-bottom: 1.25rem;
    margin-bottom: 2rem;
    border-bottom: .05rem solid #eee;
}
.blog-title {
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: normal;
}
.blog-description {
    font-size: 1.1rem;
    color: #999;
}
.blog-post-list-item {border:0; margin-bottom:20px;}

@media (min-width: 40em) {
    .blog-title {
        font-size: 3.5rem;
    }
}

div.main {padding-bottom:50px;}

/*
 * Main column and sidebar layout
 */

/* Sidebar modules for boxing content */
.sidebar-module {
    padding: 1rem;
    /*margin: 0 -1rem 1rem;*/
}
.sidebar-module-inset {
    padding: 1rem;
    background-color: #f5f5f5;
    border-radius: .25rem;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
    margin-bottom: 0;
}


/* Pagination */
.pager {
    margin-bottom: 4rem;
    text-align: left;
}
.pager > li > a {
    width: 8rem;
    padding: .75rem 1.25rem;
    text-align: center;
    border-radius: 2rem;
}


/*
 * Blog posts
 */

.blog-post {
    margin-bottom: 1rem;
}
.blog-post-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
}
.blog-post-meta {
    margin-bottom: 1.25rem;
}


/*
 * Footer
 */

.blog-footer {
    padding: 0.5rem 0;
    color: #d6d6d6;
    text-align: center;
    background-color: #010101;
    border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
    margin-bottom: 0;
}

/*
 * Misc
 */

img.share-button {
    height: 24px;
    width: 24px;
}

/* anchorjs */
.anchorjs-link {
    transition: all .25s linear;
}
*:hover > .anchorjs-link {
    margin-left: -1.125em !important;
}
.blockquote {
    font-size: 1.0rem;
}

/* Disqus */
#disqus_thread {
    position: relative;
}
#disqus_thread:after {
    content: "";
    display: block;
    height: 55px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: white;
}

/* Headers */
.blog-post-toc    { counter-reset: section     }
.blog-post-toc h3 { counter-reset: sub-section }
.blog-post-toc h4 { counter-reset: composite   }
.blog-post-toc h5 { counter-reset: detail      }

.blog-post-toc h3:before{
    counter-increment: section;
    content: counter(section) " ";
}
.blog-post-toc h3 .anchorjs-link {
    transition: all .0s linear;
}
.blog-post-toc h3:hover > .anchorjs-link {
    margin-left: -1.4em !important;
}
.blog-post-toc h4:before{
    counter-increment: sub-section;
    content: counter(section) "." counter(sub-section) " ";
}
.blog-post-toc h5:before{
    counter-increment: composite;
    content: counter(section) "." counter(sub-section) "." counter(composite) " ";
}
.blog-post-toc h6:before{
    counter-increment: detail;
    content: counter(section) "." counter(sub-section) "." counter(composite) "." counter(detail) " ";
}
/* TOC */
#toc ol { counter-reset: item }
#toc li { display: block }
#toc li:before { content: counters(item, ".") " "; counter-increment: item }
#toc ol {
    padding-left:1.5em;
}

/* Border */
.hljs {
    border-radius: 3px;
    border: 1px solid #C3CCD0;
}
